data
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.vscode/*
*/.idea/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.DS_Store
*/.env
*/.env.*
*/.env-*
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env.local
*/.envrc
*/.venv
.idea
.idea/*
b-i-gi-a-k-th-y-m-n (3)*
LoRA_fine_tuning_RoBERTa*
.ipynb_checkpoints/*
dataset.txt
food_embeddings.npy
./phobert-finetuned-vietnamese/*
phobert-finetuned-vietnamese/*
